<p-blockUI [blocked]="(loading$ | async) || false">
  <p-progressSpinner ariaLabel="loading" />
</p-blockUI>
<p-toast position="bottom-center" key="bc" />
<div class="sm:surface-ground sm:p-3 border-round m-3">
  <div class="flex flex-auto flex-column gap-3 my-3">
    <h2>Lista de Tarefas</h2>
    <ng-container *ngFor="let todo of todoList$ | async">
      <p-accordion class="w-full">
        <p-accordionTab class="bg-primary">
          <ng-template pTemplate="header">
            <span class="flex align-items-center justify-content-between gap-2 w-full">
              <div class="flex gap-2">
                <span class=" font-bold" [ngClass]="todo.realizado ? 'line-through' : ''">{{todo.nome}}</span>
                <p-badge value="{{todo.prioridade}}" [severity]="checkSeverity(todo.prioridade)"></p-badge>
              </div>
              <div class="ml-auto flex gap-2">
                <ng-container *ngIf="!todo.realizado; else realizado">
                  <p-button icon="pi pi-check" [rounded]="true" [raised]="true" [outlined]="true"
                    (onClick)="changeState(todo); $event.stopPropagation()" aria-Label="Concluir Tarefa" />
                </ng-container>
                <ng-template #realizado>
                  <p-button icon="pi pi-times" [rounded]="true" [raised]="true" [outlined]="true" severity="warning"
                    (onClick)="changeState(todo); $event.stopPropagation()" aria-Label="Definir como Tarefa Pendente" />
                </ng-template>
                <p-button icon="pi pi-trash" [rounded]="true" [raised]="true" [outlined]="true" severity="danger"
                  aria-Label="Excluir Tarefa" (onClick)="deleteTodo(todo); $event.stopPropagation()" />
              </div>
            </span>
          </ng-template>
          <div class="flex justify-content-between">
            <p class="m-0 text-wrap">
              {{todo.descricao}}
            </p>
            <p-button class="align-self-end" icon="pi pi-pencil" [rounded]="true" [raised]="true" [text]="true"
              severity="info" label="Editar" (onClick)="updateTodo(todo); $event.stopPropagation()" />
          </div>
        </p-accordionTab>
      </p-accordion>
    </ng-container>
  </div>
</div>
<div class="flex fixed justify-content-center align-items-center surface-50 bottom-0 min-w-full py-2 sm:hidden">
  <p-button icon="pi pi-plus" [rounded]="true" [raised]="true" aria-label="Adicionar Tarefa" (onClick)="createTodo()" />
</div>